:root {
  --primary-color: #4834d4;
  --success-color: #6ab04c;
  --warning-color: #f0932b;
  --danger-color: #eb4d4b;

  --light-color: #212529;
  --light-second-color: #727475;
  --light-background: #ffffff;
  --light-second-background: #181818;

  --main-bg-color: (var(--light-background));
  --second-bg-color: var(--light-second-color);
  --main-color: var(--light-color);
  --second-color: var(--light-second-color);
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: var(--main-bg-color);
  color: var(--main-color);
}

html {
  font-size: 62.5%;
}
//                                    Navbar
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  background: var(--main-bg-color);
  color: var(--main-color);
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
  &-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  &-search {
    position: relative;
    margin: auto;

    &__input {  
      background:  rgb(126, 205, 207);
      border: none;
      padding: 1.2rem 5rem 1.2rem 5rem;
      width: 100%;
      outline: none;
      color: var(--main-color);
      border-radius: 2rem;
      font-size: 1.6rem;
      z-index: 0;
    }
    &__icon {
      color: var(--main-color);
      position: absolute;
      top: 50%;
      font-size: 1.6rem;
      right: 2rem;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}
.nav-item {
  float: left;
  text-align: center;
  padding: 2.1rem 1rem;
  font-size: 1.6rem;
  &__logo {
    height: 4rem;
    width: 6rem;
    object-fit: cover;
    background-color: transparent;
  }
  &__link {
    cursor: pointer;
  }
  &__icon {
    color: var(--second-color);
  }
  &__avt {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--main-color);
  }
}

//                                  End - Navbar

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}